<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    <application
        android:name="org.telegram.messenger.ApplicationLoaderImpl"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/AppName"
        tools:replace="name">
        <meta-data
            android:name="android.telephony.PROPERTY_SATELLITE_DATA_OPTIMIZED"
            android:value="${applicationId}" />
        <!-- Built-in Google push distributor: replace the library's receiver (public default relay)
             with ours, which uses the relay set in Fork Client Settings. Disabled until configured. -->
        <receiver
            android:name="org.unifiedpush.android.embedded_fcm_distributor.impl.UnifiedPushReceiver"
            tools:node="remove" />
        <receiver
            android:name="org.telegram.messenger.MyFcmDistributor"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="org.unifiedpush.android.distributor.feature.BYTES_MESSAGE" />
                <action android:name="org.unifiedpush.android.distributor.REGISTER" />
                <action android:name="org.unifiedpush.android.distributor.UNREGISTER" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.ui.MyReminders$AlarmReceiver" android:exported="false" />
        <!-- Messages-style launcher icon (org.telegram.ui.MyIcons), off until chosen in settings -->
        <activity-alias
            android:name="org.telegram.messenger.MyBubbleIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/my_bubble_launcher"
            android:roundIcon="@mipmap/my_bubble_launcher_round"
            android:targetActivity="org.telegram.ui.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Morning digest (org.telegram.ui.MyDigest) -->
        <receiver android:name="org.telegram.ui.MyDigest$AlarmReceiver" android:exported="false" />
        <service
            android:name="org.telegram.ui.MyDigest$Job"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>
